version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: user_management
    volumes:
      #- postgres-data:/var/lib/postgresql/data
      - ./scripts:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U posgres -d user_management"]
      interval: 5s
      timeout: 5s
      retries: 5
  backend:
    build: ./backend
    container_name: backend
    restart: always
    environment:
      DATABASE_URL: posgres://postgres:postgres@db:5432/user_management
      PORT: 3000
    depends_on:
      db: 
        condition: service_healthy
    ports: 
      - "8080:3000"

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3001:80"
    
volumes:
  postgres-data:
